--
-- PostgreSQL database dump
--

\restrict sVjtqKsj6wwxydZtcd1PLJrvmlIayrtVhQ5GXLgy75eAvfrtz4C4F08ORWcCXGq

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: commodities_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.commodities_category (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    description text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.commodities_category OWNER TO postgres;

--
-- Name: commodities_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.commodities_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.commodities_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: commodities_commodity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.commodities_commodity (
    id bigint NOT NULL,
    code character varying(20) NOT NULL,
    name character varying(200) NOT NULL,
    description text NOT NULL,
    unit character varying(10) NOT NULL,
    base_price numeric(12,2) NOT NULL,
    currency character varying(3) NOT NULL,
    grade character varying(50) NOT NULL,
    purity numeric(5,2),
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    category_id bigint NOT NULL
);


ALTER TABLE public.commodities_commodity OWNER TO postgres;

--
-- Name: commodities_commodity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.commodities_commodity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.commodities_commodity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: commodities_pricehistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.commodities_pricehistory (
    id bigint NOT NULL,
    price numeric(12,2) NOT NULL,
    high_price numeric(12,2),
    low_price numeric(12,2),
    volume numeric(15,2),
    "timestamp" timestamp with time zone NOT NULL,
    commodity_id bigint NOT NULL
);


ALTER TABLE public.commodities_pricehistory OWNER TO postgres;

--
-- Name: commodities_pricehistory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.commodities_pricehistory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.commodities_pricehistory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: commodities_supplier; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.commodities_supplier (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    contact_person character varying(100) NOT NULL,
    email character varying(254) NOT NULL,
    phone character varying(20) NOT NULL,
    address text NOT NULL,
    country character varying(100) NOT NULL,
    rating numeric(3,2) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.commodities_supplier OWNER TO postgres;

--
-- Name: commodities_supplier_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.commodities_supplier ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.commodities_supplier_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: commodities_suppliercommodity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.commodities_suppliercommodity (
    id bigint NOT NULL,
    supplier_code character varying(100) NOT NULL,
    min_order_quantity numeric(15,2) NOT NULL,
    lead_time_days integer NOT NULL,
    commodity_id bigint NOT NULL,
    supplier_id bigint NOT NULL
);


ALTER TABLE public.commodities_suppliercommodity OWNER TO postgres;

--
-- Name: commodities_suppliercommodity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.commodities_suppliercommodity ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.commodities_suppliercommodity_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: inventory_inventorylocation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_inventorylocation (
    id bigint NOT NULL,
    code character varying(50) NOT NULL,
    section character varying(50) NOT NULL,
    aisle character varying(50) NOT NULL,
    rack character varying(50) NOT NULL,
    shelf character varying(50) NOT NULL,
    capacity numeric(15,2) NOT NULL,
    used_space numeric(15,2) NOT NULL,
    warehouse_id bigint NOT NULL
);


ALTER TABLE public.inventory_inventorylocation OWNER TO postgres;

--
-- Name: inventory_inventorylocation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventory_inventorylocation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_inventorylocation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_inventoryvaluation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_inventoryvaluation (
    id bigint NOT NULL,
    valuation_date date NOT NULL,
    quantity numeric(15,2) NOT NULL,
    unit_cost numeric(12,2) NOT NULL,
    total_value numeric(15,2) NOT NULL,
    method character varying(20) NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    stock_id bigint NOT NULL
);


ALTER TABLE public.inventory_inventoryvaluation OWNER TO postgres;

--
-- Name: inventory_inventoryvaluation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventory_inventoryvaluation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_inventoryvaluation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_stock; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_stock (
    id bigint NOT NULL,
    quantity_on_hand numeric(15,2) NOT NULL,
    quantity_reserved numeric(15,2) NOT NULL,
    quantity_available numeric(15,2) NOT NULL,
    reorder_point numeric(15,2) NOT NULL,
    reorder_quantity numeric(15,2) NOT NULL,
    last_counted date,
    last_received date,
    last_issued date,
    updated_at timestamp with time zone NOT NULL,
    commodity_id bigint NOT NULL,
    location_id bigint,
    warehouse_id bigint NOT NULL
);


ALTER TABLE public.inventory_stock OWNER TO postgres;

--
-- Name: inventory_stock_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventory_stock ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_stock_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_stockadjustment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_stockadjustment (
    id bigint NOT NULL,
    adjustment_date date NOT NULL,
    quantity_before numeric(15,2) NOT NULL,
    quantity_after numeric(15,2) NOT NULL,
    variance numeric(15,2) NOT NULL,
    reason character varying(20) NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    approved_by_id bigint,
    created_by_id bigint,
    stock_id bigint NOT NULL
);


ALTER TABLE public.inventory_stockadjustment OWNER TO postgres;

--
-- Name: inventory_stockadjustment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventory_stockadjustment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_stockadjustment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_stockmovement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_stockmovement (
    id bigint NOT NULL,
    movement_type character varying(20) NOT NULL,
    quantity numeric(15,2) NOT NULL,
    reference_type character varying(50) NOT NULL,
    reference_number character varying(50) NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    created_by_id bigint,
    from_location_id bigint,
    stock_id bigint NOT NULL,
    to_location_id bigint
);


ALTER TABLE public.inventory_stockmovement OWNER TO postgres;

--
-- Name: inventory_stockmovement_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventory_stockmovement ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_stockmovement_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: inventory_warehouse; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_warehouse (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    location character varying(200) NOT NULL,
    address text NOT NULL,
    capacity numeric(15,2) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    manager_id bigint
);


ALTER TABLE public.inventory_warehouse OWNER TO postgres;

--
-- Name: inventory_warehouse_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventory_warehouse ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_warehouse_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_order (
    id bigint NOT NULL,
    order_number character varying(50) NOT NULL,
    order_type character varying(20) NOT NULL,
    order_date date NOT NULL,
    required_date date NOT NULL,
    delivery_date date,
    subtotal numeric(15,2) NOT NULL,
    tax_amount numeric(12,2) NOT NULL,
    shipping_cost numeric(12,2) NOT NULL,
    total_amount numeric(15,2) NOT NULL,
    status character varying(20) NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    created_by_id bigint,
    customer_id bigint,
    supplier_id bigint
);


ALTER TABLE public.orders_order OWNER TO postgres;

--
-- Name: orders_order_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_order ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_order_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_orderhistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_orderhistory (
    id bigint NOT NULL,
    action character varying(100) NOT NULL,
    old_status character varying(20),
    new_status character varying(20),
    changes jsonb NOT NULL,
    notes text NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    changed_by_id bigint,
    order_id bigint NOT NULL
);


ALTER TABLE public.orders_orderhistory OWNER TO postgres;

--
-- Name: orders_orderhistory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_orderhistory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_orderhistory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_orderitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_orderitem (
    id bigint NOT NULL,
    quantity_ordered numeric(15,2) NOT NULL,
    quantity_received numeric(15,2) NOT NULL,
    unit_price numeric(12,2) NOT NULL,
    line_total numeric(15,2) NOT NULL,
    grade character varying(50) NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    commodity_id bigint NOT NULL,
    order_id bigint NOT NULL
);


ALTER TABLE public.orders_orderitem OWNER TO postgres;

--
-- Name: orders_orderitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_orderitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_orderitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: orders_shipment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders_shipment (
    id bigint NOT NULL,
    shipment_number character varying(50) NOT NULL,
    tracking_number character varying(100) NOT NULL,
    carrier character varying(100) NOT NULL,
    ship_date date NOT NULL,
    expected_delivery date NOT NULL,
    actual_delivery date,
    status character varying(20) NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    order_id bigint NOT NULL
);


ALTER TABLE public.orders_shipment OWNER TO postgres;

--
-- Name: orders_shipment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.orders_shipment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.orders_shipment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reports_financialreport; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reports_financialreport (
    id bigint NOT NULL,
    report_date date NOT NULL,
    total_revenue numeric(15,2) NOT NULL,
    total_expenses numeric(15,2) NOT NULL,
    gross_profit numeric(15,2) NOT NULL,
    net_profit numeric(15,2) NOT NULL,
    profit_margin numeric(5,2) NOT NULL,
    breakdown jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.reports_financialreport OWNER TO postgres;

--
-- Name: reports_financialreport_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.reports_financialreport ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reports_financialreport_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reports_inventoryreport; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reports_inventoryreport (
    id bigint NOT NULL,
    report_date date NOT NULL,
    total_items integer NOT NULL,
    total_quantity numeric(15,2) NOT NULL,
    total_value numeric(15,2) NOT NULL,
    items_in_stock integer NOT NULL,
    items_below_reorder integer NOT NULL,
    items_zero_stock integer NOT NULL,
    capacity_utilization numeric(5,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    warehouse_id bigint
);


ALTER TABLE public.reports_inventoryreport OWNER TO postgres;

--
-- Name: reports_inventoryreport_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.reports_inventoryreport ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reports_inventoryreport_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reports_report; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reports_report (
    id bigint NOT NULL,
    name character varying(200) NOT NULL,
    report_type character varying(50) NOT NULL,
    description text NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    filters jsonb NOT NULL,
    columns jsonb NOT NULL,
    is_scheduled boolean NOT NULL,
    schedule_frequency character varying(50) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    created_by_id bigint
);


ALTER TABLE public.reports_report OWNER TO postgres;

--
-- Name: reports_report_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.reports_report ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reports_report_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reports_reportdata; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reports_reportdata (
    id bigint NOT NULL,
    data jsonb NOT NULL,
    summary jsonb NOT NULL,
    total_rows integer NOT NULL,
    generated_at timestamp with time zone NOT NULL,
    report_id bigint NOT NULL
);


ALTER TABLE public.reports_reportdata OWNER TO postgres;

--
-- Name: reports_reportdata_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.reports_reportdata ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reports_reportdata_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reports_salesreport; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reports_salesreport (
    id bigint NOT NULL,
    report_date date NOT NULL,
    total_orders integer NOT NULL,
    completed_orders integer NOT NULL,
    pending_orders integer NOT NULL,
    total_sales numeric(15,2) NOT NULL,
    total_quantity_sold numeric(15,2) NOT NULL,
    avg_order_value numeric(12,2) NOT NULL,
    total_commission numeric(12,2) NOT NULL,
    top_customer character varying(200) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    top_commodity_id bigint
);


ALTER TABLE public.reports_salesreport OWNER TO postgres;

--
-- Name: reports_salesreport_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.reports_salesreport ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reports_salesreport_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: reports_tradingreport; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reports_tradingreport (
    id bigint NOT NULL,
    report_date date NOT NULL,
    total_trades integer NOT NULL,
    total_buy_trades integer NOT NULL,
    total_sell_trades integer NOT NULL,
    total_volume numeric(15,2) NOT NULL,
    total_value numeric(15,2) NOT NULL,
    avg_trade_size numeric(15,2) NOT NULL,
    total_commission numeric(12,2) NOT NULL,
    realized_pnl numeric(15,2) NOT NULL,
    unrealized_pnl numeric(15,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    trader_id bigint
);


ALTER TABLE public.reports_tradingreport OWNER TO postgres;

--
-- Name: reports_tradingreport_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.reports_tradingreport ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.reports_tradingreport_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: settlements_bankaccount; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settlements_bankaccount (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    account_number character varying(50) NOT NULL,
    account_type character varying(20) NOT NULL,
    bank_name character varying(200) NOT NULL,
    bank_code character varying(20) NOT NULL,
    swift_code character varying(20) NOT NULL,
    iban character varying(50) NOT NULL,
    currency character varying(3) NOT NULL,
    balance numeric(15,2) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.settlements_bankaccount OWNER TO postgres;

--
-- Name: settlements_bankaccount_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.settlements_bankaccount ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.settlements_bankaccount_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: settlements_payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settlements_payment (
    id bigint NOT NULL,
    payment_id character varying(50) NOT NULL,
    payment_type character varying(20) NOT NULL,
    amount numeric(15,2) NOT NULL,
    currency character varying(3) NOT NULL,
    payer character varying(200) NOT NULL,
    payee character varying(200) NOT NULL,
    payment_date date NOT NULL,
    status character varying(20) NOT NULL,
    payment_method character varying(50) NOT NULL,
    bank_reference character varying(100) NOT NULL,
    notes text NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    created_by_id bigint,
    settlement_id bigint
);


ALTER TABLE public.settlements_payment OWNER TO postgres;

--
-- Name: settlements_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.settlements_payment ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.settlements_payment_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: settlements_settlement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settlements_settlement (
    id bigint NOT NULL,
    settlement_id character varying(50) NOT NULL,
    settlement_date date NOT NULL,
    due_date date NOT NULL,
    actual_date date,
    status character varying(20) NOT NULL,
    gross_amount numeric(15,2) NOT NULL,
    commission numeric(12,2) NOT NULL,
    fees numeric(12,2) NOT NULL,
    net_amount numeric(15,2) NOT NULL,
    payment_method character varying(50) NOT NULL,
    bank_account character varying(100) NOT NULL,
    reference_number character varying(100) NOT NULL,
    notes text NOT NULL,
    documents jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    created_by_id bigint,
    trade_id bigint NOT NULL
);


ALTER TABLE public.settlements_settlement OWNER TO postgres;

--
-- Name: settlements_settlement_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.settlements_settlement ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.settlements_settlement_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: settlements_settlementallocation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settlements_settlementallocation (
    id bigint NOT NULL,
    allocated_amount numeric(15,2) NOT NULL,
    percentage numeric(5,2) NOT NULL,
    notes text NOT NULL,
    account_id bigint NOT NULL,
    settlement_id bigint NOT NULL
);


ALTER TABLE public.settlements_settlementallocation OWNER TO postgres;

--
-- Name: settlements_settlementallocation_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.settlements_settlementallocation ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.settlements_settlementallocation_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: settlements_settlementhistory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.settlements_settlementhistory (
    id bigint NOT NULL,
    action character varying(100) NOT NULL,
    old_status character varying(20),
    new_status character varying(20),
    changes jsonb NOT NULL,
    notes text NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    changed_by_id bigint,
    settlement_id bigint NOT NULL
);


ALTER TABLE public.settlements_settlementhistory OWNER TO postgres;

--
-- Name: settlements_settlementhistory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.settlements_settlementhistory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.settlements_settlementhistory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_blacklistedtoken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.token_blacklist_blacklistedtoken (
    id bigint NOT NULL,
    blacklisted_at timestamp with time zone NOT NULL,
    token_id bigint NOT NULL
);


ALTER TABLE public.token_blacklist_blacklistedtoken OWNER TO postgres;

--
-- Name: token_blacklist_blacklistedtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.token_blacklist_blacklistedtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_blacklistedtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: token_blacklist_outstandingtoken; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.token_blacklist_outstandingtoken (
    id bigint NOT NULL,
    token text NOT NULL,
    created_at timestamp with time zone,
    expires_at timestamp with time zone NOT NULL,
    user_id bigint,
    jti character varying(255) NOT NULL
);


ALTER TABLE public.token_blacklist_outstandingtoken OWNER TO postgres;

--
-- Name: token_blacklist_outstandingtoken_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.token_blacklist_outstandingtoken ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.token_blacklist_outstandingtoken_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: trading_trade; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trading_trade (
    id bigint NOT NULL,
    trade_id character varying(50) NOT NULL,
    trade_type character varying(10) NOT NULL,
    quantity numeric(15,2) NOT NULL,
    unit_price numeric(12,2) NOT NULL,
    counterparty_name character varying(200) NOT NULL,
    counterparty_country character varying(100) NOT NULL,
    total_value numeric(15,2) NOT NULL,
    commission numeric(12,2) NOT NULL,
    net_value numeric(15,2) NOT NULL,
    trade_date date NOT NULL,
    settlement_date date NOT NULL,
    status character varying(20) NOT NULL,
    notes text NOT NULL,
    documents jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    commodity_id bigint NOT NULL,
    session_id bigint NOT NULL,
    trader_id bigint
);


ALTER TABLE public.trading_trade OWNER TO postgres;

--
-- Name: trading_trade_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.trading_trade ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.trading_trade_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: trading_tradealert; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trading_tradealert (
    id bigint NOT NULL,
    alert_type character varying(20) NOT NULL,
    message text NOT NULL,
    is_read boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.trading_tradealert OWNER TO postgres;

--
-- Name: trading_tradealert_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.trading_tradealert ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.trading_tradealert_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: trading_tradeposition; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trading_tradeposition (
    id bigint NOT NULL,
    long_quantity numeric(15,2) NOT NULL,
    short_quantity numeric(15,2) NOT NULL,
    average_long_price numeric(12,2) NOT NULL,
    average_short_price numeric(12,2) NOT NULL,
    current_market_price numeric(12,2) NOT NULL,
    unrealized_pnl numeric(15,2) NOT NULL,
    realized_pnl numeric(15,2) NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    commodity_id bigint NOT NULL,
    trader_id bigint NOT NULL
);


ALTER TABLE public.trading_tradeposition OWNER TO postgres;

--
-- Name: trading_tradeposition_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.trading_tradeposition ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.trading_tradeposition_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: trading_tradesession; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.trading_tradesession (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    status character varying(20) NOT NULL,
    start_date timestamp with time zone NOT NULL,
    end_date timestamp with time zone,
    created_by_id bigint
);


ALTER TABLE public.trading_tradesession OWNER TO postgres;

--
-- Name: trading_tradesession_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.trading_tradesession ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.trading_tradesession_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_auditlog; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_auditlog (
    id bigint NOT NULL,
    action character varying(20) NOT NULL,
    model_name character varying(100) NOT NULL,
    object_id integer NOT NULL,
    changes jsonb NOT NULL,
    ip_address inet,
    "timestamp" timestamp with time zone NOT NULL,
    user_id bigint
);


ALTER TABLE public.users_auditlog OWNER TO postgres;

--
-- Name: users_auditlog_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_auditlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_auditlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    email character varying(254) NOT NULL,
    phone character varying(20) NOT NULL,
    role character varying(20) NOT NULL,
    department character varying(100) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.users_user OWNER TO postgres;

--
-- Name: users_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.users_user_groups OWNER TO postgres;

--
-- Name: users_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.users_user_user_permissions OWNER TO postgres;

--
-- Name: users_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users_userprofile; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users_userprofile (
    id bigint NOT NULL,
    avatar character varying(100),
    bio text NOT NULL,
    preferences jsonb NOT NULL,
    last_login_ip inet,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.users_userprofile OWNER TO postgres;

--
-- Name: users_userprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users_userprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_userprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: commodities_category commodities_category_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commodities_category
    ADD CONSTRAINT commodities_category_name_key UNIQUE (name);


--
-- Name: commodities_category commodities_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commodities_category
    ADD CONSTRAINT commodities_category_pkey PRIMARY KEY (id);


--
-- Name: commodities_commodity commodities_commodity_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commodities_commodity
    ADD CONSTRAINT commodities_commodity_code_key UNIQUE (code);


--
-- Name: commodities_commodity commodities_commodity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commodities_commodity
    ADD CONSTRAINT commodities_commodity_pkey PRIMARY KEY (id);


--
-- Name: commodities_pricehistory commodities_pricehistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commodities_pricehistory
    ADD CONSTRAINT commodities_pricehistory_pkey PRIMARY KEY (id);


--
-- Name: commodities_supplier commodities_supplier_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commodities_supplier
    ADD CONSTRAINT commodities_supplier_pkey PRIMARY KEY (id);


--
-- Name: commodities_suppliercommodity commodities_suppliercomm_supplier_id_commodity_id_1f6ff411_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commodities_suppliercommodity
    ADD CONSTRAINT commodities_suppliercomm_supplier_id_commodity_id_1f6ff411_uniq UNIQUE (supplier_id, commodity_id);


--
-- Name: commodities_suppliercommodity commodities_suppliercommodity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commodities_suppliercommodity
    ADD CONSTRAINT commodities_suppliercommodity_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: inventory_inventorylocation inventory_inventorylocation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_inventorylocation
    ADD CONSTRAINT inventory_inventorylocation_pkey PRIMARY KEY (id);


--
-- Name: inventory_inventorylocation inventory_inventorylocation_warehouse_id_code_c239a9b8_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_inventorylocation
    ADD CONSTRAINT inventory_inventorylocation_warehouse_id_code_c239a9b8_uniq UNIQUE (warehouse_id, code);


--
-- Name: inventory_inventoryvaluation inventory_inventoryvaluation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_inventoryvaluation
    ADD CONSTRAINT inventory_inventoryvaluation_pkey PRIMARY KEY (id);


--
-- Name: inventory_inventoryvaluation inventory_inventoryvaluation_stock_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_inventoryvaluation
    ADD CONSTRAINT inventory_inventoryvaluation_stock_id_key UNIQUE (stock_id);


--
-- Name: inventory_stock inventory_stock_commodity_id_warehouse_id_03a17837_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_stock
    ADD CONSTRAINT inventory_stock_commodity_id_warehouse_id_03a17837_uniq UNIQUE (commodity_id, warehouse_id);


--
-- Name: inventory_stock inventory_stock_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_stock
    ADD CONSTRAINT inventory_stock_pkey PRIMARY KEY (id);


--
-- Name: inventory_stockadjustment inventory_stockadjustment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_stockadjustment
    ADD CONSTRAINT inventory_stockadjustment_pkey PRIMARY KEY (id);


--
-- Name: inventory_stockmovement inventory_stockmovement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_stockmovement
    ADD CONSTRAINT inventory_stockmovement_pkey PRIMARY KEY (id);


--
-- Name: inventory_warehouse inventory_warehouse_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_warehouse
    ADD CONSTRAINT inventory_warehouse_pkey PRIMARY KEY (id);


--
-- Name: orders_order orders_order_order_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_order_number_key UNIQUE (order_number);


--
-- Name: orders_order orders_order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_pkey PRIMARY KEY (id);


--
-- Name: orders_orderhistory orders_orderhistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderhistory
    ADD CONSTRAINT orders_orderhistory_pkey PRIMARY KEY (id);


--
-- Name: orders_orderitem orders_orderitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_pkey PRIMARY KEY (id);


--
-- Name: orders_shipment orders_shipment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_shipment
    ADD CONSTRAINT orders_shipment_pkey PRIMARY KEY (id);


--
-- Name: orders_shipment orders_shipment_shipment_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_shipment
    ADD CONSTRAINT orders_shipment_shipment_number_key UNIQUE (shipment_number);


--
-- Name: reports_financialreport reports_financialreport_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_financialreport
    ADD CONSTRAINT reports_financialreport_pkey PRIMARY KEY (id);


--
-- Name: reports_inventoryreport reports_inventoryreport_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_inventoryreport
    ADD CONSTRAINT reports_inventoryreport_pkey PRIMARY KEY (id);


--
-- Name: reports_report reports_report_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_report
    ADD CONSTRAINT reports_report_pkey PRIMARY KEY (id);


--
-- Name: reports_reportdata reports_reportdata_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_reportdata
    ADD CONSTRAINT reports_reportdata_pkey PRIMARY KEY (id);


--
-- Name: reports_salesreport reports_salesreport_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_salesreport
    ADD CONSTRAINT reports_salesreport_pkey PRIMARY KEY (id);


--
-- Name: reports_tradingreport reports_tradingreport_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_tradingreport
    ADD CONSTRAINT reports_tradingreport_pkey PRIMARY KEY (id);


--
-- Name: reports_tradingreport reports_tradingreport_trader_id_report_date_41f3bbaf_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_tradingreport
    ADD CONSTRAINT reports_tradingreport_trader_id_report_date_41f3bbaf_uniq UNIQUE (trader_id, report_date);


--
-- Name: settlements_bankaccount settlements_bankaccount_account_number_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settlements_bankaccount
    ADD CONSTRAINT settlements_bankaccount_account_number_key UNIQUE (account_number);


--
-- Name: settlements_bankaccount settlements_bankaccount_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settlements_bankaccount
    ADD CONSTRAINT settlements_bankaccount_pkey PRIMARY KEY (id);


--
-- Name: settlements_payment settlements_payment_payment_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settlements_payment
    ADD CONSTRAINT settlements_payment_payment_id_key UNIQUE (payment_id);


--
-- Name: settlements_payment settlements_payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settlements_payment
    ADD CONSTRAINT settlements_payment_pkey PRIMARY KEY (id);


--
-- Name: settlements_settlement settlements_settlement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settlements_settlement
    ADD CONSTRAINT settlements_settlement_pkey PRIMARY KEY (id);


--
-- Name: settlements_settlement settlements_settlement_settlement_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settlements_settlement
    ADD CONSTRAINT settlements_settlement_settlement_id_key UNIQUE (settlement_id);


--
-- Name: settlements_settlementallocation settlements_settlemental_settlement_id_account_id_8f681289_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settlements_settlementallocation
    ADD CONSTRAINT settlements_settlemental_settlement_id_account_id_8f681289_uniq UNIQUE (settlement_id, account_id);


--
-- Name: settlements_settlementallocation settlements_settlementallocation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settlements_settlementallocation
    ADD CONSTRAINT settlements_settlementallocation_pkey PRIMARY KEY (id);


--
-- Name: settlements_settlementhistory settlements_settlementhistory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settlements_settlementhistory
    ADD CONSTRAINT settlements_settlementhistory_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_pkey PRIMARY KEY (id);


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_key UNIQUE (token_id);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_uniq UNIQUE (jti);


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outstandingtoken_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outstandingtoken_pkey PRIMARY KEY (id);


--
-- Name: trading_trade trading_trade_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trading_trade
    ADD CONSTRAINT trading_trade_pkey PRIMARY KEY (id);


--
-- Name: trading_trade trading_trade_trade_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trading_trade
    ADD CONSTRAINT trading_trade_trade_id_key UNIQUE (trade_id);


--
-- Name: trading_tradealert trading_tradealert_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trading_tradealert
    ADD CONSTRAINT trading_tradealert_pkey PRIMARY KEY (id);


--
-- Name: trading_tradeposition trading_tradeposition_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trading_tradeposition
    ADD CONSTRAINT trading_tradeposition_pkey PRIMARY KEY (id);


--
-- Name: trading_tradeposition trading_tradeposition_trader_id_commodity_id_0159e225_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trading_tradeposition
    ADD CONSTRAINT trading_tradeposition_trader_id_commodity_id_0159e225_uniq UNIQUE (trader_id, commodity_id);


--
-- Name: trading_tradesession trading_tradesession_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trading_tradesession
    ADD CONSTRAINT trading_tradesession_pkey PRIMARY KEY (id);


--
-- Name: users_auditlog users_auditlog_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_auditlog
    ADD CONSTRAINT users_auditlog_pkey PRIMARY KEY (id);


--
-- Name: users_user users_user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_email_key UNIQUE (email);


--
-- Name: users_user_groups users_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_pkey PRIMARY KEY (id);


--
-- Name: users_user_groups users_user_groups_user_id_group_id_b88eab82_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_group_id_b88eab82_uniq UNIQUE (user_id, group_id);


--
-- Name: users_user users_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user
    ADD CONSTRAINT users_user_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_permission_id_43338c45_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_permission_id_43338c45_uniq UNIQUE (user_id, permission_id);


--
-- Name: users_userprofile users_userprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_userprofile
    ADD CONSTRAINT users_userprofile_pkey PRIMARY KEY (id);


--
-- Name: users_userprofile users_userprofile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_userprofile
    ADD CONSTRAINT users_userprofile_user_id_key UNIQUE (user_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: commodities_categor_021b03_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commodities_categor_021b03_idx ON public.commodities_commodity USING btree (category_id);


--
-- Name: commodities_category_name_a5ec0034_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commodities_category_name_a5ec0034_like ON public.commodities_category USING btree (name varchar_pattern_ops);


--
-- Name: commodities_code_251aa6_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commodities_code_251aa6_idx ON public.commodities_commodity USING btree (code);


--
-- Name: commodities_commodi_7cacdf_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commodities_commodi_7cacdf_idx ON public.commodities_pricehistory USING btree (commodity_id, "timestamp" DESC);


--
-- Name: commodities_commodity_category_id_458eff74; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commodities_commodity_category_id_458eff74 ON public.commodities_commodity USING btree (category_id);


--
-- Name: commodities_commodity_code_01699944_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commodities_commodity_code_01699944_like ON public.commodities_commodity USING btree (code varchar_pattern_ops);


--
-- Name: commodities_pricehistory_commodity_id_8e8cc994; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commodities_pricehistory_commodity_id_8e8cc994 ON public.commodities_pricehistory USING btree (commodity_id);


--
-- Name: commodities_suppliercommodity_commodity_id_bff9fb67; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commodities_suppliercommodity_commodity_id_bff9fb67 ON public.commodities_suppliercommodity USING btree (commodity_id);


--
-- Name: commodities_suppliercommodity_supplier_id_1845eca8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX commodities_suppliercommodity_supplier_id_1845eca8 ON public.commodities_suppliercommodity USING btree (supplier_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: inventory_inventorylocation_warehouse_id_9184c4df; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_inventorylocation_warehouse_id_9184c4df ON public.inventory_inventorylocation USING btree (warehouse_id);


--
-- Name: inventory_s_commodi_72ea61_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_s_commodi_72ea61_idx ON public.inventory_stock USING btree (commodity_id, warehouse_id);


--
-- Name: inventory_s_stock_i_cee363_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_s_stock_i_cee363_idx ON public.inventory_stockmovement USING btree (stock_id, created_at DESC);


--
-- Name: inventory_stock_commodity_id_df050cd1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_stock_commodity_id_df050cd1 ON public.inventory_stock USING btree (commodity_id);


--
-- Name: inventory_stock_location_id_be05a9db; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_stock_location_id_be05a9db ON public.inventory_stock USING btree (location_id);


--
-- Name: inventory_stock_warehouse_id_2fd6d240; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_stock_warehouse_id_2fd6d240 ON public.inventory_stock USING btree (warehouse_id);


--
-- Name: inventory_stockadjustment_approved_by_id_bc6c9592; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_stockadjustment_approved_by_id_bc6c9592 ON public.inventory_stockadjustment USING btree (approved_by_id);


--
-- Name: inventory_stockadjustment_created_by_id_d3ef1412; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_stockadjustment_created_by_id_d3ef1412 ON public.inventory_stockadjustment USING btree (created_by_id);


--
-- Name: inventory_stockadjustment_stock_id_351448f7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_stockadjustment_stock_id_351448f7 ON public.inventory_stockadjustment USING btree (stock_id);


--
-- Name: inventory_stockmovement_created_by_id_9a39cb99; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_stockmovement_created_by_id_9a39cb99 ON public.inventory_stockmovement USING btree (created_by_id);


--
-- Name: inventory_stockmovement_from_location_id_fec5e827; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_stockmovement_from_location_id_fec5e827 ON public.inventory_stockmovement USING btree (from_location_id);


--
-- Name: inventory_stockmovement_stock_id_041b80f1; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_stockmovement_stock_id_041b80f1 ON public.inventory_stockmovement USING btree (stock_id);


--
-- Name: inventory_stockmovement_to_location_id_6b5863ab; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_stockmovement_to_location_id_6b5863ab ON public.inventory_stockmovement USING btree (to_location_id);


--
-- Name: inventory_warehouse_manager_id_6def176a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX inventory_warehouse_manager_id_6def176a ON public.inventory_warehouse USING btree (manager_id);


--
-- Name: orders_orde_order_n_f3ada5_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orde_order_n_f3ada5_idx ON public.orders_order USING btree (order_number);


--
-- Name: orders_orde_order_t_c9198f_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orde_order_t_c9198f_idx ON public.orders_order USING btree (order_type, order_date DESC);


--
-- Name: orders_orde_status_c6dd84_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orde_status_c6dd84_idx ON public.orders_order USING btree (status);


--
-- Name: orders_order_created_by_id_d5f5e69c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_order_created_by_id_d5f5e69c ON public.orders_order USING btree (created_by_id);


--
-- Name: orders_order_customer_id_0b76f6a4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_order_customer_id_0b76f6a4 ON public.orders_order USING btree (customer_id);


--
-- Name: orders_order_order_number_4e985f70_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_order_order_number_4e985f70_like ON public.orders_order USING btree (order_number varchar_pattern_ops);


--
-- Name: orders_order_supplier_id_767ee7f9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_order_supplier_id_767ee7f9 ON public.orders_order USING btree (supplier_id);


--
-- Name: orders_orderhistory_changed_by_id_8a7c4255; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderhistory_changed_by_id_8a7c4255 ON public.orders_orderhistory USING btree (changed_by_id);


--
-- Name: orders_orderhistory_order_id_04c27f47; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderhistory_order_id_04c27f47 ON public.orders_orderhistory USING btree (order_id);


--
-- Name: orders_orderitem_commodity_id_8e28d65b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_commodity_id_8e28d65b ON public.orders_orderitem USING btree (commodity_id);


--
-- Name: orders_orderitem_order_id_fe61a34d; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_orderitem_order_id_fe61a34d ON public.orders_orderitem USING btree (order_id);


--
-- Name: orders_shipment_order_id_661ed8ed; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_shipment_order_id_661ed8ed ON public.orders_shipment USING btree (order_id);


--
-- Name: orders_shipment_shipment_number_91ed4f07_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_shipment_shipment_number_91ed4f07_like ON public.orders_shipment USING btree (shipment_number varchar_pattern_ops);


--
-- Name: reports_inventoryreport_warehouse_id_43cea595; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reports_inventoryreport_warehouse_id_43cea595 ON public.reports_inventoryreport USING btree (warehouse_id);


--
-- Name: reports_report_created_by_id_e9adac24; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reports_report_created_by_id_e9adac24 ON public.reports_report USING btree (created_by_id);


--
-- Name: reports_reportdata_report_id_c6ab97e5; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reports_reportdata_report_id_c6ab97e5 ON public.reports_reportdata USING btree (report_id);


--
-- Name: reports_salesreport_top_commodity_id_f43608bb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reports_salesreport_top_commodity_id_f43608bb ON public.reports_salesreport USING btree (top_commodity_id);


--
-- Name: reports_tradingreport_trader_id_48c3d519; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX reports_tradingreport_trader_id_48c3d519 ON public.reports_tradingreport USING btree (trader_id);


--
-- Name: settlements_bankaccount_account_number_3b7ff1e0_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settlements_bankaccount_account_number_3b7ff1e0_like ON public.settlements_bankaccount USING btree (account_number varchar_pattern_ops);


--
-- Name: settlements_payment_created_by_id_0273a324; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settlements_payment_created_by_id_0273a324 ON public.settlements_payment USING btree (created_by_id);


--
-- Name: settlements_payment_f160e6_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settlements_payment_f160e6_idx ON public.settlements_payment USING btree (payment_id);


--
-- Name: settlements_payment_payment_id_bb903bc0_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settlements_payment_payment_id_bb903bc0_like ON public.settlements_payment USING btree (payment_id varchar_pattern_ops);


--
-- Name: settlements_payment_settlement_id_0c045881; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settlements_payment_settlement_id_0c045881 ON public.settlements_payment USING btree (settlement_id);


--
-- Name: settlements_settlem_99f260_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settlements_settlem_99f260_idx ON public.settlements_settlement USING btree (settlement_date);


--
-- Name: settlements_settlem_be3a9e_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settlements_settlem_be3a9e_idx ON public.settlements_settlement USING btree (settlement_id);


--
-- Name: settlements_settlement_created_by_id_ade2b493; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settlements_settlement_created_by_id_ade2b493 ON public.settlements_settlement USING btree (created_by_id);


--
-- Name: settlements_settlement_settlement_id_af47ad0c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settlements_settlement_settlement_id_af47ad0c_like ON public.settlements_settlement USING btree (settlement_id varchar_pattern_ops);


--
-- Name: settlements_settlement_trade_id_1bcbbc36; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settlements_settlement_trade_id_1bcbbc36 ON public.settlements_settlement USING btree (trade_id);


--
-- Name: settlements_settlementallocation_account_id_7dcaea25; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settlements_settlementallocation_account_id_7dcaea25 ON public.settlements_settlementallocation USING btree (account_id);


--
-- Name: settlements_settlementallocation_settlement_id_53fc41a2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settlements_settlementallocation_settlement_id_53fc41a2 ON public.settlements_settlementallocation USING btree (settlement_id);


--
-- Name: settlements_settlementhistory_changed_by_id_4eb26251; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settlements_settlementhistory_changed_by_id_4eb26251 ON public.settlements_settlementhistory USING btree (changed_by_id);


--
-- Name: settlements_settlementhistory_settlement_id_6c10390c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settlements_settlementhistory_settlement_id_6c10390c ON public.settlements_settlementhistory USING btree (settlement_id);


--
-- Name: settlements_status_0b073d_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settlements_status_0b073d_idx ON public.settlements_payment USING btree (status);


--
-- Name: settlements_status_83e9c8_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX settlements_status_83e9c8_idx ON public.settlements_settlement USING btree (status);


--
-- Name: token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX token_blacklist_outstandingtoken_jti_hex_d9bdf6f7_like ON public.token_blacklist_outstandingtoken USING btree (jti varchar_pattern_ops);


--
-- Name: token_blacklist_outstandingtoken_user_id_83bc629a; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX token_blacklist_outstandingtoken_user_id_83bc629a ON public.token_blacklist_outstandingtoken USING btree (user_id);


--
-- Name: trading_tra_status_252e0c_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX trading_tra_status_252e0c_idx ON public.trading_trade USING btree (status);


--
-- Name: trading_tra_trade_i_b44db8_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX trading_tra_trade_i_b44db8_idx ON public.trading_trade USING btree (trade_id);


--
-- Name: trading_tra_trader__2e65e3_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX trading_tra_trader__2e65e3_idx ON public.trading_trade USING btree (trader_id, trade_date DESC);


--
-- Name: trading_trade_commodity_id_ccb23a4e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX trading_trade_commodity_id_ccb23a4e ON public.trading_trade USING btree (commodity_id);


--
-- Name: trading_trade_session_id_beeaadf7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX trading_trade_session_id_beeaadf7 ON public.trading_trade USING btree (session_id);


--
-- Name: trading_trade_trade_id_34ee5fe8_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX trading_trade_trade_id_34ee5fe8_like ON public.trading_trade USING btree (trade_id varchar_pattern_ops);


--
-- Name: trading_trade_trader_id_0e50ef66; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX trading_trade_trader_id_0e50ef66 ON public.trading_trade USING btree (trader_id);


--
-- Name: trading_tradealert_user_id_f2334357; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX trading_tradealert_user_id_f2334357 ON public.trading_tradealert USING btree (user_id);


--
-- Name: trading_tradeposition_commodity_id_979281e3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX trading_tradeposition_commodity_id_979281e3 ON public.trading_tradeposition USING btree (commodity_id);


--
-- Name: trading_tradeposition_trader_id_b63a31d0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX trading_tradeposition_trader_id_b63a31d0 ON public.trading_tradeposition USING btree (trader_id);


--
-- Name: trading_tradesession_created_by_id_f6de23a2; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX trading_tradesession_created_by_id_f6de23a2 ON public.trading_tradesession USING btree (created_by_id);


--
-- Name: users_audit_user_id_29b33e_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_audit_user_id_29b33e_idx ON public.users_auditlog USING btree (user_id, "timestamp" DESC);


--
-- Name: users_auditlog_user_id_650163a4; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_auditlog_user_id_650163a4 ON public.users_auditlog USING btree (user_id);


--
-- Name: users_user_email_243f6e77_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_email_243f6e77_like ON public.users_user USING btree (email varchar_pattern_ops);


--
-- Name: users_user_groups_group_id_9afc8d0e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_groups_group_id_9afc8d0e ON public.users_user_groups USING btree (group_id);


--
-- Name: users_user_groups_user_id_5f6f5a90; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_groups_user_id_5f6f5a90 ON public.users_user_groups USING btree (user_id);


--
-- Name: users_user_user_permissions_permission_id_0b93982e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_user_permissions_permission_id_0b93982e ON public.users_user_user_permissions USING btree (permission_id);


--
-- Name: users_user_user_permissions_user_id_20aca447; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_user_user_permissions_user_id_20aca447 ON public.users_user_user_permissions USING btree (user_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commodities_commodity commodities_commodit_category_id_458eff74_fk_commoditi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commodities_commodity
    ADD CONSTRAINT commodities_commodit_category_id_458eff74_fk_commoditi FOREIGN KEY (category_id) REFERENCES public.commodities_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commodities_pricehistory commodities_pricehis_commodity_id_8e8cc994_fk_commoditi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commodities_pricehistory
    ADD CONSTRAINT commodities_pricehis_commodity_id_8e8cc994_fk_commoditi FOREIGN KEY (commodity_id) REFERENCES public.commodities_commodity(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commodities_suppliercommodity commodities_supplier_commodity_id_bff9fb67_fk_commoditi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commodities_suppliercommodity
    ADD CONSTRAINT commodities_supplier_commodity_id_bff9fb67_fk_commoditi FOREIGN KEY (commodity_id) REFERENCES public.commodities_commodity(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: commodities_suppliercommodity commodities_supplier_supplier_id_1845eca8_fk_commoditi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.commodities_suppliercommodity
    ADD CONSTRAINT commodities_supplier_supplier_id_1845eca8_fk_commoditi FOREIGN KEY (supplier_id) REFERENCES public.commodities_supplier(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_inventorylocation inventory_inventoryl_warehouse_id_9184c4df_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_inventorylocation
    ADD CONSTRAINT inventory_inventoryl_warehouse_id_9184c4df_fk_inventory FOREIGN KEY (warehouse_id) REFERENCES public.inventory_warehouse(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_inventoryvaluation inventory_inventoryv_stock_id_e66f3b6b_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_inventoryvaluation
    ADD CONSTRAINT inventory_inventoryv_stock_id_e66f3b6b_fk_inventory FOREIGN KEY (stock_id) REFERENCES public.inventory_stock(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stock inventory_stock_commodity_id_df050cd1_fk_commoditi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_stock
    ADD CONSTRAINT inventory_stock_commodity_id_df050cd1_fk_commoditi FOREIGN KEY (commodity_id) REFERENCES public.commodities_commodity(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stock inventory_stock_location_id_be05a9db_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_stock
    ADD CONSTRAINT inventory_stock_location_id_be05a9db_fk_inventory FOREIGN KEY (location_id) REFERENCES public.inventory_inventorylocation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stock inventory_stock_warehouse_id_2fd6d240_fk_inventory_warehouse_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_stock
    ADD CONSTRAINT inventory_stock_warehouse_id_2fd6d240_fk_inventory_warehouse_id FOREIGN KEY (warehouse_id) REFERENCES public.inventory_warehouse(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stockadjustment inventory_stockadjus_approved_by_id_bc6c9592_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_stockadjustment
    ADD CONSTRAINT inventory_stockadjus_approved_by_id_bc6c9592_fk_users_use FOREIGN KEY (approved_by_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stockadjustment inventory_stockadjus_created_by_id_d3ef1412_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_stockadjustment
    ADD CONSTRAINT inventory_stockadjus_created_by_id_d3ef1412_fk_users_use FOREIGN KEY (created_by_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stockadjustment inventory_stockadjus_stock_id_351448f7_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_stockadjustment
    ADD CONSTRAINT inventory_stockadjus_stock_id_351448f7_fk_inventory FOREIGN KEY (stock_id) REFERENCES public.inventory_stock(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stockmovement inventory_stockmovem_from_location_id_fec5e827_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_stockmovement
    ADD CONSTRAINT inventory_stockmovem_from_location_id_fec5e827_fk_inventory FOREIGN KEY (from_location_id) REFERENCES public.inventory_inventorylocation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stockmovement inventory_stockmovem_to_location_id_6b5863ab_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_stockmovement
    ADD CONSTRAINT inventory_stockmovem_to_location_id_6b5863ab_fk_inventory FOREIGN KEY (to_location_id) REFERENCES public.inventory_inventorylocation(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stockmovement inventory_stockmovement_created_by_id_9a39cb99_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_stockmovement
    ADD CONSTRAINT inventory_stockmovement_created_by_id_9a39cb99_fk_users_user_id FOREIGN KEY (created_by_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_stockmovement inventory_stockmovement_stock_id_041b80f1_fk_inventory_stock_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_stockmovement
    ADD CONSTRAINT inventory_stockmovement_stock_id_041b80f1_fk_inventory_stock_id FOREIGN KEY (stock_id) REFERENCES public.inventory_stock(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: inventory_warehouse inventory_warehouse_manager_id_6def176a_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_warehouse
    ADD CONSTRAINT inventory_warehouse_manager_id_6def176a_fk_users_user_id FOREIGN KEY (manager_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_order orders_order_created_by_id_d5f5e69c_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_created_by_id_d5f5e69c_fk_users_user_id FOREIGN KEY (created_by_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_order orders_order_customer_id_0b76f6a4_fk_commodities_supplier_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_customer_id_0b76f6a4_fk_commodities_supplier_id FOREIGN KEY (customer_id) REFERENCES public.commodities_supplier(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_order orders_order_supplier_id_767ee7f9_fk_commodities_supplier_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_order
    ADD CONSTRAINT orders_order_supplier_id_767ee7f9_fk_commodities_supplier_id FOREIGN KEY (supplier_id) REFERENCES public.commodities_supplier(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderhistory orders_orderhistory_changed_by_id_8a7c4255_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderhistory
    ADD CONSTRAINT orders_orderhistory_changed_by_id_8a7c4255_fk_users_user_id FOREIGN KEY (changed_by_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderhistory orders_orderhistory_order_id_04c27f47_fk_orders_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderhistory
    ADD CONSTRAINT orders_orderhistory_order_id_04c27f47_fk_orders_order_id FOREIGN KEY (order_id) REFERENCES public.orders_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_commodity_id_8e28d65b_fk_commoditi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_commodity_id_8e28d65b_fk_commoditi FOREIGN KEY (commodity_id) REFERENCES public.commodities_commodity(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_orderitem orders_orderitem_order_id_fe61a34d_fk_orders_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_orderitem
    ADD CONSTRAINT orders_orderitem_order_id_fe61a34d_fk_orders_order_id FOREIGN KEY (order_id) REFERENCES public.orders_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: orders_shipment orders_shipment_order_id_661ed8ed_fk_orders_order_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders_shipment
    ADD CONSTRAINT orders_shipment_order_id_661ed8ed_fk_orders_order_id FOREIGN KEY (order_id) REFERENCES public.orders_order(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reports_inventoryreport reports_inventoryrep_warehouse_id_43cea595_fk_inventory; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_inventoryreport
    ADD CONSTRAINT reports_inventoryrep_warehouse_id_43cea595_fk_inventory FOREIGN KEY (warehouse_id) REFERENCES public.inventory_warehouse(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reports_report reports_report_created_by_id_e9adac24_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_report
    ADD CONSTRAINT reports_report_created_by_id_e9adac24_fk_users_user_id FOREIGN KEY (created_by_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reports_reportdata reports_reportdata_report_id_c6ab97e5_fk_reports_report_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_reportdata
    ADD CONSTRAINT reports_reportdata_report_id_c6ab97e5_fk_reports_report_id FOREIGN KEY (report_id) REFERENCES public.reports_report(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reports_salesreport reports_salesreport_top_commodity_id_f43608bb_fk_commoditi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_salesreport
    ADD CONSTRAINT reports_salesreport_top_commodity_id_f43608bb_fk_commoditi FOREIGN KEY (top_commodity_id) REFERENCES public.commodities_commodity(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: reports_tradingreport reports_tradingreport_trader_id_48c3d519_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reports_tradingreport
    ADD CONSTRAINT reports_tradingreport_trader_id_48c3d519_fk_users_user_id FOREIGN KEY (trader_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: settlements_payment settlements_payment_created_by_id_0273a324_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settlements_payment
    ADD CONSTRAINT settlements_payment_created_by_id_0273a324_fk_users_user_id FOREIGN KEY (created_by_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: settlements_payment settlements_payment_settlement_id_0c045881_fk_settlemen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settlements_payment
    ADD CONSTRAINT settlements_payment_settlement_id_0c045881_fk_settlemen FOREIGN KEY (settlement_id) REFERENCES public.settlements_settlement(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: settlements_settlementallocation settlements_settleme_account_id_7dcaea25_fk_settlemen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settlements_settlementallocation
    ADD CONSTRAINT settlements_settleme_account_id_7dcaea25_fk_settlemen FOREIGN KEY (account_id) REFERENCES public.settlements_bankaccount(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: settlements_settlementhistory settlements_settleme_changed_by_id_4eb26251_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settlements_settlementhistory
    ADD CONSTRAINT settlements_settleme_changed_by_id_4eb26251_fk_users_use FOREIGN KEY (changed_by_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: settlements_settlementallocation settlements_settleme_settlement_id_53fc41a2_fk_settlemen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settlements_settlementallocation
    ADD CONSTRAINT settlements_settleme_settlement_id_53fc41a2_fk_settlemen FOREIGN KEY (settlement_id) REFERENCES public.settlements_settlement(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: settlements_settlementhistory settlements_settleme_settlement_id_6c10390c_fk_settlemen; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settlements_settlementhistory
    ADD CONSTRAINT settlements_settleme_settlement_id_6c10390c_fk_settlemen FOREIGN KEY (settlement_id) REFERENCES public.settlements_settlement(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: settlements_settlement settlements_settlement_created_by_id_ade2b493_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settlements_settlement
    ADD CONSTRAINT settlements_settlement_created_by_id_ade2b493_fk_users_user_id FOREIGN KEY (created_by_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: settlements_settlement settlements_settlement_trade_id_1bcbbc36_fk_trading_trade_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.settlements_settlement
    ADD CONSTRAINT settlements_settlement_trade_id_1bcbbc36_fk_trading_trade_id FOREIGN KEY (trade_id) REFERENCES public.trading_trade(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_blacklistedtoken token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_blacklistedtoken
    ADD CONSTRAINT token_blacklist_blacklistedtoken_token_id_3cc7fe56_fk FOREIGN KEY (token_id) REFERENCES public.token_blacklist_outstandingtoken(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: token_blacklist_outstandingtoken token_blacklist_outs_user_id_83bc629a_fk_users_use; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.token_blacklist_outstandingtoken
    ADD CONSTRAINT token_blacklist_outs_user_id_83bc629a_fk_users_use FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: trading_trade trading_trade_commodity_id_ccb23a4e_fk_commodities_commodity_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trading_trade
    ADD CONSTRAINT trading_trade_commodity_id_ccb23a4e_fk_commodities_commodity_id FOREIGN KEY (commodity_id) REFERENCES public.commodities_commodity(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: trading_trade trading_trade_session_id_beeaadf7_fk_trading_tradesession_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trading_trade
    ADD CONSTRAINT trading_trade_session_id_beeaadf7_fk_trading_tradesession_id FOREIGN KEY (session_id) REFERENCES public.trading_tradesession(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: trading_trade trading_trade_trader_id_0e50ef66_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trading_trade
    ADD CONSTRAINT trading_trade_trader_id_0e50ef66_fk_users_user_id FOREIGN KEY (trader_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: trading_tradealert trading_tradealert_user_id_f2334357_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trading_tradealert
    ADD CONSTRAINT trading_tradealert_user_id_f2334357_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: trading_tradeposition trading_tradepositio_commodity_id_979281e3_fk_commoditi; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trading_tradeposition
    ADD CONSTRAINT trading_tradepositio_commodity_id_979281e3_fk_commoditi FOREIGN KEY (commodity_id) REFERENCES public.commodities_commodity(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: trading_tradeposition trading_tradeposition_trader_id_b63a31d0_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trading_tradeposition
    ADD CONSTRAINT trading_tradeposition_trader_id_b63a31d0_fk_users_user_id FOREIGN KEY (trader_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: trading_tradesession trading_tradesession_created_by_id_f6de23a2_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.trading_tradesession
    ADD CONSTRAINT trading_tradesession_created_by_id_f6de23a2_fk_users_user_id FOREIGN KEY (created_by_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_auditlog users_auditlog_user_id_650163a4_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_auditlog
    ADD CONSTRAINT users_auditlog_user_id_650163a4_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_group_id_9afc8d0e_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_group_id_9afc8d0e_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_groups users_user_groups_user_id_5f6f5a90_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_groups
    ADD CONSTRAINT users_user_groups_user_id_5f6f5a90_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_perm_permission_id_0b93982e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_perm_permission_id_0b93982e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_user_user_permissions users_user_user_permissions_user_id_20aca447_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_user_user_permissions
    ADD CONSTRAINT users_user_user_permissions_user_id_20aca447_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: users_userprofile users_userprofile_user_id_87251ef1_fk_users_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users_userprofile
    ADD CONSTRAINT users_userprofile_user_id_87251ef1_fk_users_user_id FOREIGN KEY (user_id) REFERENCES public.users_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict sVjtqKsj6wwxydZtcd1PLJrvmlIayrtVhQ5GXLgy75eAvfrtz4C4F08ORWcCXGq

